*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */
.container{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    width: calc((100vw - 50px) / 2 - 20px);
    /* height: calc((100vw - 50px) / 2 - 20px); */
    margin: 10px;
}

.col-33{
    width: calc(100% / 3);
}

.padding-x{
    padding-top: 80px;
}

.padding-bot{
    padding-bottom: 100px;
}

.s-between{
    justify-content: space-between;
}

.a-items{
    align-items: center;
}

.d-flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.radius-50{
    border-radius: 50%;
}

/* STRUCTURE */
#top{
    background-color: rgb(168, 168, 168);
    height: calc(100vh - 75px);
}

.bot{
    background-color: #282828;
    height: 75px;
}

.top-content{
    display: flex;
    background-color: #141922;
    height: 100%;
}

.sidebar{
    width: 50px;
    background-color: #000000;
}

#content{
    width: calc(100vw - 50px);
    overflow-y: auto;
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 75px;
}

#upgrade-button{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bolder;
/*     position: absolute;
    top: 20px;
    right: 10px; */
}

/* SIDEBAR */
.sidebar-top{
    height: 300px;
    width: 100%;
/*     background-color: red; */
    align-items: center;
}

.sidebar-bot{
    height: 100px;
    width: 100%;
/*     background-color: green; */
}

#logo-small{
    width: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav-list{
    margin-top: 10px;
}

ul li{
    list-style: none;
}

li img{
    width: 30px;
}

.download{
    width: 18px;
    margin-right: 2px;
}

.profile{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.sidebar-bot{
    justify-content: flex-end;
    align-items: center;
}

/* MAIN CONTENT */
.navbar{
    width: 100%;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 4;
}

.navbar li{
    list-style-type: none;
    color: #6b6d73;
    margin: 0 10px;
    font-size: 12px;
    font-weight: bold;
}

h2{
    color: white;
    font-size: 23px;
    margin: 20px 10px;
}

.card img{
    width: 100%;
}

.sub-card{
    text-align: center;
    margin-top: 10px;
}

.song{
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.author{
    color: #7c7e83;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 10px;
}

.subject{
    color: #7c7e83;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 25px;
}

.content-footer{
    height: 50px;
    background-color: aqua;
    border: 1px solid black;
    margin: 10px;
}

/* RESPONSIVE */

@media screen and (min-width: 576px){
    .sidebar{
        width: 250px;
    }

    .card{
        width: calc((100vw - 250px) / 2 - 20px);
    }
}   

@media screen and (min-width: 768px){
    .card{
        width: calc((100vw - 250px) / 4 - 20px);

    }
}

@media screen and (min-width: 991px){
    .card{
        width: calc((100vw - 250px) / 6 - 20px);
    }
}
