*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */
.container{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    width: calc((100vw - 50px) / 2 - 20px);
    height: calc((100vw - 50px) / 2 - 20px);
    margin: 10px;
    position: relative;
}

.sub-card{
    text-align: center;
/*     margin-top: 10px; */
    width: calc((100vw - 50px) / 2 - 20px);
}

.col-33{
    width: calc(100% / 3);
}

.padding-x{
    padding-top: 80px;
}

.padding-bot{
    padding-bottom: 100px;
}

.s-between{
    justify-content: space-between;
}

.a-items{
    align-items: center;
}

.d-flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.radius-50{
    border-radius: 50%;
}

/* STRUCTURE */
#top{
    background-color: rgb(168, 168, 168);
    height: calc(100vh - 75px);
}

.bot{
    position: fixed;
    width: 100%;
    background-color: #282828;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 20px;
}

.top-content{
    display: flex;
    background-color: #141922;
    height: 100%;
}

.sidebar{
    width: 50px;
    background-color: #000000;
}

#content{
    width: calc(100vw - 50px);
    overflow-y: auto;
}

/* HEADER */
header{
    position: fixed;
    width: calc(100% - 50px);
    background-color: rgba(0,0,0,0.5);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#upgrade-button{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bolder;
    margin-right: 5px;
}

/* SIDEBAR */
.sidebar-top{
    width: 100%;
    align-items: center;
}

.sidebar-bot{
    width: 100%;
}

#logo-small{
    width: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav-list{
    margin-top: 10px;
}

ul li{
    list-style: none;
}

li img{
    width: 30px;
}

.download{
    width: 18px;
    margin-right: 2px;

}

.profile{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.sidebar-bot{
    justify-content: flex-end;
    align-items: center;
}

#logo{
    display: none;
}

.category{
    display: none;
}

.play-list{
    display: none;
}

hr{
    display: none;
}

#install{
    display: none;
}

#joe{
    display: none;
}

/* MAIN CONTENT */
.navbar{
    width: 100%;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 4;
}

.navbar li{
    list-style-type: none;
    color: #6b6d73;
    margin: 0 10px;
    font-size: 12px;
    font-weight: bold;
}

h2{
    color: white;
    font-size: 23px;
    margin: 20px 10px;
}

.card-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 100%;
}

.song{
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.author{
    color: #7c7e83;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 10px;
}

.subject{
    color: #7c7e83;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 25px;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.overlay i{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FOOTER */
/* left */
.footer-player-left{
    display: flex;
    align-items: center;
}

.footer-player-left-cover{
    width: 40px;
    margin-right: 10px;
}

.footer-player-left-cover img{
    width: 100%;
}

.footer-player-left-song-name{
    color: white;
    font-size: 13px;
    font-weight: bolder;
}

.footer-player-left-song-artist{
    color: #a3a3a3;
    font-size: 10px;
    margin-top: 5px;
}

.footer-player-left-icons{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.footer-player-left-icons i{
    font-size: 17px;
    color: #6b6d73;
    margin: 3px;
}

/* MIDDLE */
.footer-player-middle{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player-buttons-list-center{
    display: flex;
    justify-content: center;
}

.player-buttons-list-center li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.player-buttons-list-center li i{
    font-size: 20px;
    margin: 0 10px;
    color: white;

}

#play-button{
    font-size: 30px;
}

.footer-player-middle-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.player-slider{
    height: 4px;
    width: 80%;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
}

.elapsed-time{
    width: 20%;
    height: 4px;
    background-color: lightgray;
    border-radius: 5px;
    position: relative;
}

.player-slider:hover .elapsed-time{
    background-color: greenyellow;
}

.player-elapsed-point{
    width: 15px;
    height: 15px;
    background-color: lightgray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
}

.player-slider:hover .player-elapsed-point{
    display: block;
}

.player-time{
    color: white;
    font-size: 10px;
}

/* RIGHT */
.footer-player-right{
    display: flex;
    align-items: center;
}

.player-buttons-list-right{
    display: flex;
}

#mini-slider{
    width: 100px;
}

.footer-player-right-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-buttons-list-right li i{
    margin-right: 15px;
    color: white;
}

/* HOVER EFFECTS */
.card:hover .overlay{
    display: block;
}

#upgrade-button:hover{
    font-size: 14px;
}


/* RESPONSIVE */

@media screen and (min-width: 576px){
    header{
        width: calc(100% - 250px);
    }
    
    #content{
        width: calc(100vw - 250px);
    }

    .sidebar{
        width: 250px;
    }

    .card{
        width: calc((100vw - 250px) / 2 - 20px);
        height: calc((100vw - 250px) / 2 - 20px)
    }

    .sub-card{
        width: calc((100vw - 250px) / 2 - 20px);
    }

    .sidebar-top{
        align-items: flex-start;
        padding: 20px 15px;
    }

    .sidebar-bot{
        align-items: flex-start;
        padding: 5px 15px;
    }

    #logo-small{
        display: none;
    }

    #logo{
        display: block;
        width: 130px;
    }

    .category{
        display: block;
        color: #6b6d73;
        font-weight: bolder;
        font-size: 12px;
    }

    .category:hover{
        color: white;
    }

    .play-list{
        display: block;
    }

    .nav-list ul li{
        display: flex;
        align-items: center;
        margin: 15px 0;
    }

    .nav-list ul li img{
        margin-right: 5px;
    } 

    .play-list ul li{
        color: #6b6d73;
        font-weight: bolder;
    }

    .play-list ul li:hover{
        color: white;
    }

    .play-list ul{
        height: 35vh;
        overflow-y: auto;
    }

    #playlist-text{
        color: white;
        font-size: 14px;
        font-weight: bolder;
        margin: 10px 0;
    }
    
    .plus-text{
        align-items: center;
        font-size: 14px;
    }
    
    #plus{
        width: 40px;
        height: 40px;
        color: black;
        background-color: #a3a3a3;
        display: inline-block;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    
    #plus:hover{
        background-color: white;
    }

    .name-playlist{
        margin-top: 15px;
        font-size: 11px;
    }

    .download{
        margin-left: 0;
    }

    #install{
        display: block;
        color: #6b6d73;
        font-size: 12px;
        font-weight: bolder;
        margin-left: 10px;
    }

    hr{
        display: block;
        border: 1px solid grey;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #joe{
        display: block;
        color: white;
        font-weight: bolder;
        font-size: 13px;
    }

    .profile{
        margin: 0;
        margin-right: 10px;
    }    
}   


@media screen and (min-width: 768px){
    .card{
        width: calc((100vw - 250px) / 4 - 20px);
        height: calc((100vw - 250px) / 4 - 20px)

    }

    .sub-card{
        width: calc((100vw - 250px) / 4 - 20px);
    }
}

@media screen and (min-width: 991px){
    .card{
        width: calc((100vw - 250px) / 6 - 20px);
        height: calc((100vw - 250px) / 6 - 20px)
    }

    .sub-card{
        width: calc((100vw - 250px) / 6 - 20px);
    }
}
